@using BusinessObject.Models
@model IEnumerable<BusinessObject.Models.Product>
@using eStoreAPI.Services
@{
    ViewData["Title"] = "Index";
    var listpr = ViewData["list"] as List<Product>;
    var request = Context.Request;
    var role = Context.Request.Cookies["Role"];
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-action="SearchByName" method="get">
    <div class="form-group">
        <label for="name">Product Name:</label>
        <input type="text" id="name" name="name" class="form-control" required />
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
</form>
<h2>Search Products by Price</h2>

<form asp-action="SearchByPrice" method="get">
    <div class="form-group">
        <label for="price">Max Price:</label>
        <input type="number" id="price" name="price" class="form-control" required />
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
</form>
@if (listpr != null && listpr.Count > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    ProductName
                </th>
                <th>
                    UnitPrice
                </th>
                <th>
                    UnitsInStock
                </th>

                <th>Image</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in listpr)
            {
                <tr>
                    <td>
                        @item.ProductName
                    </td>
                    <td>
                        @item.UnitPrice
                    </td>
                    <td>
                        @item.UnitsInStock
                    </td>
                    <td>
                        @if (item.ImageData != null && item.ImageData.Length > 0)
                        {
                            string base64Image = Convert.ToBase64String(item.ImageData);
                            <img src="data:image/jpeg;base64,@base64Image" alt="Product Image" width="100" />
                        }
                        else
                        {
                            <p>No image available</p>
                        }
                    </td>
                    @* <td>
            @item.Category.CategoryId)
            </td> *@
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ProductId">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.ProductId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.ProductId">Delete</a>|
                        @if (role != "ADMIN")
                        {
                            <form method="post" action="/Products/AddToCookie">
                                <input type="hidden" name="id" value="@item.ProductId" />
                                <input type="number" name="quantity" max="@item.UnitsInStock" required placeholder="cannot exceeds @item.UnitsInStock" />
                                <input type="submit" value="Add" />
                            </form>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No products found.</p>
}

