@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}


<h1>Error</h1>
@* <p>@Model.ErrorMessage</p>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}
 *@
<div class="alert alert-danger">
    <strong>Error Code: </strong>@Model.StatusCode
</div>

<div class="alert alert-danger">
    <strong>Error Message: </strong>@Model.Message
</div>

<div>
    <a href="@Url.Action("Index", "Home")" class="btn btn-primary">Back to Home</a>
</div>